* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: menu; }


.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'menu'
    'main';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}


.main,
.main-2x2,
.main-4x4,
.main-6x6 {
  display: grid;
  gap: 5px;
}

.main { grid-template-columns: repeat(2, 1fr); }
.main-2x2 { grid-template-columns: repeat(2, 1fr); }
.main-4x4 { grid-template-columns: repeat(4, 1fr); }
.main-6x6 { grid-template-columns: repeat(6, 1fr); }


.card {
  width: auto;
  height: 150px; 
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: white;
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select,
input[type="color"] {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.main-2x2 .card { background-size: contain; }
.main-4x4 .card,
.main-6x6 .card { background-size: cover; }


.progress-bar {
  width: 15%;
  background-color: #cccccc;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid;
}

.progress-bar-content {
  display: block;
  width: 0%;
  height: 30px;
  margin: 0 auto;
  background-color: #00b300;
}


.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-container > div {
  margin: 10px;
  display: flex;
  align-items: center;
}

.settings-container select,
.settings-container input[type="color"] {
  margin-left: 10px;
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


#topFiveList li {
  list-style-type: none;
}


@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'menu'
      'main';
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header menu'
      'main main';
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'header header header header header header'
      'main main main main menu menu';
  }
}

@media (min-width: 992px) {
  .item3 ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
